@import "common.css";
/* import the common styles from common.css for use here */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns => to create a responsive grid
    repeat - repeat the column prop multiple times
    auto-fit - create as many columns as it can fit in the container
    minmax(300px, 1fr) - each column is at least 300px wide, but can grow to take the whole space (1fr) */
    gap: 16px;
    /* gap => to set a spacing of 16px between flex items */
}

.success {
    color: green;
    border-color: green;
}

.card-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.certification-logo {
    width: 150px;
    height: 150px;
}
