/* This file has the responsive font sizes for different headers used thorughtput the project */

h1 {
    font-size: calc(11px + 1.8vmin);
}

h2 {
    font-size: calc(11px + 1.5vmin);
}

h3 {
    font-size: calc(11px + 1.2vmin);
}

h4 {
    font-size: calc(11px + 0.9vmin);
}

h5 {
    font-size: calc(11px + 0.6vmin);
}

h6 {
    font-size: calc(11px + 0.3vmin);
}
